In [5]:
import mysql.connector
from mysql.connector import Error
import numpy as np

In [6]:
# MySQL database connection configuration

db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'Wayne001'

}

In [7]:
# Establish connection to MySQL database

conn = mysql.connector.connect(**db_config)

In [8]:
# Function to execute MySQL queries
def execute_query(query):
    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()
    cursor.close()

In [12]:
# Create database named edu_institute if it doesn't exist

create_db_query = "CREATE DATABASE IF NOT EXISTS edu_institute;"
execute_query(create_db_query)

In [13]:
#Use the database
use_db_query = "USE edu_institute;"
execute_query(use_db_query)

In [14]:
students = """
CREATE TABLE students (
  student_id INT PRIMARY KEY,
  name VARCHAR(50) NOT NULL,
  age INT,
  gender CHAR(1) CHECK (gender IN ('M', 'F', 'O')), 
  enrollment_date DATE,
  program VARCHAR(255)  
); """

execute_query(students)

In [15]:

insert_students_query = """
INSERT INTO students (student_id, name, age, gender, enrollment_date, program)
VALUES
  (13750, 'Travis Scott', 22, 'M', '2023-10-26', 'Computer Science'),
  (13751, 'Doja Cat', 25, 'F', '2024-02-15', 'Business Administration'),
  (13752, 'Li Tjay', 30, 'M', '2023-09-01', 'Data Science'),  
  (13753, 'Rylo Rodriguez', 19, 'M', '2024-01-03', 'Marketing'),
  (13754, 'Ice Spice', 20, 'F', '2023-11-12', 'Psychology');
"""
execute_query(insert_students_query)